body {
    margin: 0;
    padding: 0;
}

.menu {
    display: grid;
    margin: 0;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    list-style-type: none;
    background-color: grey;
}

.menu__item {
    margin: auto;
    padding: 10px;
}

.menu__item:hover {
    color: red;
    background-color: black;
    cursor: pointer;
}

.menu__item--active {
    color: white;
    background-color: black;
    margin: auto;
    padding: 10px;
    cursor: pointer;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #333333;
    color: white;
    padding: 30px;
}

.inloggen {
    grid-column: 2/2;
    text-align: center;
}

.inloggen__title--big {
    color: #a6a6a6;
}

.inloggen__title--small {
    color: #d9d9d9;
}

.inloggen__input {
    padding: 5px;
}

.inloggen__button {
    color: black;
    background-color: red;
    padding: 10px;
    border-radius: 12px;
    border: none;
}

.inloggen__button:hover {
    cursor: pointer;
    box-shadow: 0 3px black;
}

.inloggen__button:active {
    box-shadow: 0 1px black;
}
